<header class="app-header{{#each header.modifiers}}-{{.}}{{/each}}">
    <div class="app-header_wrapper">
        <div class="logo">
            <a href="" alt="One-Nexus logo">
                <img src="{{assets}}images/logo-light.png" alt="One Nexus Logo">
            </a>
        </div>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="{{templates}}/modules/">Modules</a>
                    <ul>
                        <li><a href="{{templates}}/modules/elements/">Elements</a></li>
                        <li><a href="{{templates}}/modules/objects/">Objects</a></li>
                        <li><a href="{{templates}}/modules/utilities/">Utilitie</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>
</header>