---
title: One-Nexus
bodyClass: ''
contentID: 'site-content'
styles:
    - <%=assets%>assets/themes/<%=theme%>/app
scripts:
    - <%=assets%>assets/themes/<%=theme%>/app
jQuery: false #2.2.4
FontAwesome: 4.7.0
---
<!DOCTYPE html>
<html lang="en-GB">

    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{#is environment "dev"}}
            {{#each styles}}
               <link href="{{.}}.css" rel="stylesheet">
            {{/each}}
        {{/is}}
        {{#is environment "prod"}}
            {{#each styles}}
               <link href="{{.}}.min.css" rel="stylesheet">
            {{/each}}
        {{/is}}
    </head>

    <div class="preloader">
        <div class="preloader_spinner"></div>
        <div class="preloader_close">
            <div class="button-round-border-size-2-thin-grey-3">Disable Preloader</div>
        </div>
    </div>

    <body class="{{bodyClass}}">
        {{> body}}
    </body>

    <div id="site-overlay" class="site-overlay"></div>

    {{#if jQuery}}
        <script src="http://code.jquery.com/jquery-{{jQuery}}.min.js" crossorigin="anonymous"></script>
    {{/if}}

    {{#if FontAwesome}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{FontAwesome}}/css/font-awesome.min.css" />
    {{/if}}

    {{#is environment "dev"}}
        {{#each scripts}}
            <script src="{{.}}.js"></script>
        {{/each}}
    {{/is}}
    {{#is environment "prod"}}
        {{#each scripts}}
            <script src="{{.}}.min.js"></script>
        {{/each}}
    {{/is}}
</html>