---
title: One Nexus
bodyClass: ''
contentID: 'site-content'
---
<!DOCTYPE html>
<html lang="en-GB">

    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{#is environment "dev"}}
            <link href="{{assets}}themes/{{theme}}/app.css" rel="stylesheet">
        {{/is}}
        {{#is environment "prod"}}
            <link href="{{assets}}themes/{{theme}}/app.min.css" rel="stylesheet">
        {{/is}}
    </head>

    <body class="{{bodyClass}}">
        {{> header}}

        {{> body}}

        {{> footer}}
    </body>

    <div id="modulesConfigJSON"></div>

    <script src="http://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>

    {{#is environment "dev"}}
        <script src="{{assets}}themes/{{theme}}/app.js"></script>
    {{/is}}
    {{#is environment "prod"}}
        <script src="{{assets}}themes/{{theme}}/app.min.js"></script>
    {{/is}}

</html>