---
title: One-Nexus
bodyClass: ''
bodyID: ''
preloader: true
styles:
    - <%=assets%>assets/styles/app
scripts:
    - <%=assets%>assets/scripts/app
jQuery: false #2.2.4
FontAwesome: 4.7.0
---
<!DOCTYPE html>
<html lang="en-GB">

    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{#is environment "dev"}}
            {{#each styles}}
               <link href="{{.}}.css" rel="stylesheet">
            {{/each}}
        {{/is}}
        {{#is environment "prod"}}
            {{#each styles}}
               <link href="{{.}}.min.css" rel="stylesheet">
            {{/each}}
        {{/is}}
    </head>

    {{#if preloader}}
        {{> preloader}}
    {{/if}}

    <body class="{{bodyClass}}" id="{{bodyID}}">
        {{> body}}
    </body>

    {{> overlay}}

    {{#if jQuery}}
        <script src="http://code.jquery.com/jquery-{{jQuery}}.min.js" crossorigin="anonymous"></script>
    {{/if}}

    {{#if FontAwesome}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{FontAwesome}}/css/font-awesome.min.css" />
    {{/if}}

    {{#is environment "dev"}}
        {{#each scripts}}
            <script src="{{.}}.js"></script>
        {{/each}}
    {{/is}}
    {{#is environment "prod"}}
        {{#each scripts}}
            <script src="{{.}}.min.js"></script>
        {{/each}}
    {{/is}}
</html>